.imgnot {

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 495px;
    width:530px;
}

h1 {
    text-align: center;
    
}
.notfound {
    font-size: larger;
}